{% extends 'agony_base.html' %}
{% block content %}

    <table class="table">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>race</th>
            <th>hp</th>
            <th>attack</th>
            <th>defence</th>
            <th>gold</th>
            <th></th>
        </tr>
        {% for hero in object_list %}
            <tr class="{% cycle 'table-light' 'table-secondary'%}">

                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'AGONy_update_hero' hero.id %}">{{ hero.name }}</a></td>
                <td>{{ hero.race }}</td>
                <td>{{ hero.hp }}</td>
                <td>{{ hero.attack }}</td>
                <td>{{ hero.defence }}</td>
                <td>{{ hero.gold }}</td>
                <td><a class="btn btn-info" href="{% url 'AGONy_create_game_for_hero' hero.id %}">New Game</a></td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}