{% extends 'agony_base.html' %}
{% load static %}
{% block content %}


              <!-- SLIDER -->
    <section class="padding-large bg-light" id="heroSlider">
        <div id="carouselExampleControls" class="carousel slide main-slider" data-ride="carousel">
            <div class="carousel-inner container">
                {% for hero in object_list %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="container w-75 d-flex">
                            <div class="carousel-caption d-block">

                                <h6>{{ forloop.counter }}</h6>
                                <h1><a href="{% url 'AGONy_detail_hero' hero.id %}">{{ hero.name }}</a></h1>
                                <h3>{{ hero.description }}</h3>
                                <h5><img src="{{ hero.hero_image.url }}" alt="Error!, but mambo_no6 - this should be an image!"></h5>

                                <h5>Hero's HP: {{ hero.hp }}</h5>
                                <h5>Hero's attack: {{ hero.attack }}</h5>
                                <h5>Hero's defence: {{ hero.defence }}</h5>
                                <!-- <h5>hero's level: {{ hero.hero_level }}</h5> needs fixing the display! -->
                                <!-- <h5>hero's type: {{ hero.hero_type }}</h5> -->
                                <h5>Hero's accumulated gold: {{ hero.heros_gold }}</h5>

                                {% if user.is_authenticated %} <!-- user.is_superuser -->
                                    <h6><a href="{% url 'AGONy_update_hero' hero.id %}">Update</a></h6>
                                    <h6><a href="{% url 'AGONy_create_heros_image_AI' hero.id %}">Create AI Image</a></h6>
                                    <h6><a href="{% url 'AGONy_create_heros_description' hero.id %}">Create AI Description</a></h6>
                                {% endif %} <!-- user.is_superuser -->

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!-- SLIDER -->



    <style>
        body {
        background-image: url('{% static "elmo_fire.gif" %}'); background-position: center ; background-repeat: no-repeat; background-size: 1200px 900px
        }
        </style>
    <table class="table">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>race</th>
            <th>hp</th>
            <th>attack</th>
            <th>defence</th>
            <th>gold</th>
            <th></th>
        </tr>
        {% for hero in object_list %}
            <tr class="{% cycle 'table-light' 'table-secondary'%}">

                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'AGONy_update_hero' hero.id %}">{{ hero.name }}</a></td>
                <td>{{ hero.race }}</td>
                <td>{{ hero.hp }}</td>
                <td>{{ hero.attack }}</td>
                <td>{{ hero.defence }}</td>
                <td>{{ hero.gold }}</td>
                {% if hero.hp > 0 %}
                    <td><a class="btn btn-outline-primary" title="Send your hero on a quest for prode and glory!"
                           href="{% url 'AGONy_create_journey_for_hero' hero.id %}">To Journey!</a></td>
                {% else %}
                    <td><button class="btn btn-outline-danger" title="The hero is dead, that's end for his journey!">DEAD!</button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}