{% extends 'agony_base.html' %}
{% block content %}

    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Race</th>
            <th>HP</th>
            <th>Gold</th>
            <th></th>
        </tr>
        {% for hero in object_list %}
            <tr class="{% cycle 'table-light' 'table-secondary'%}">

                <td>{{ forloop.counter }}</td>
                <td>{{ hero.name }}</td>
                <td>{{ hero.race }}</td>
                <td>{{ hero.hp }}</td>
                <td>{{ hero.gold }}</td>
                {% if hero.hp > 0 %}
                    <td><p>ALIVE</p></td>
                {% else %}
                    <td><p>DEAD!</p></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}