{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AGONy</title>
    <link href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'my_nav_bar.css' %}" rel="stylesheet">

    <!-- Z "jedzonko_app" -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:400,600,700&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!--  -->

</head>
<body style="background-image: url('{% static "dungeon_entrance_2.jpg" %}'); background-position: center ; background-repeat: no-repeat; background-size: 1200px 900px">

<div class="topnav">

    <a class="bg-primary" href="{% url 'AGONy_create_user' %}"> New user</a>
    <a class="bg-primary" href="{% url 'AGONy_hero_list' %}">Leaderboard</a>
    <a class="bg-primary" href="{% url 'AGONy_contact' %}">Contact</a>

    {% if user.is_authenticated %} <!-- user.is_superuser -->

    <a class="bg-secondary" href="{% url 'AGONy_comment_list' %}">Comments</a>
    <a class="bg-secondary" href="{% url 'AGONy_create_monster' %}">Create Monster</a>
    <a class="bg-secondary" href="{% url 'AGONy_monster_list' %}">Monsters in AGONy</a>
    <a class="bg-secondary" href="{% url 'AGONy_create_event' %}">Create Event</a>
    <a class="bg-secondary" href="{% url 'AGONy_event_list' %}">Events in AGONy</a>

    <!--<a class="bg-secondary" href="{% url 'AGONy_create_origin' %}">Create Origin</a>  Not gonna use that for a while...
    <a class="bg-secondary" href="{% url 'AGONy_origin_list' %}">Origins of AGONy</a>-->

    {% endif %}

    {% if user.is_authenticated %}

        <a class="bg-danger" href="{% url 'AGONy_create_hero' %}"> Create Hero</a>
        <a class="bg-danger" href="{% url 'AGONy_my_hero_list' %}">My Heroes</a>
        <a class="bg-danger" href="{% url 'AGONy_create_defaults' %}">Create Defaults</a>
        <a class="bg-danger" href="{% url 'AGONy_WIP' %}"> WIP </a>
        <a class="bg-warning" href="{% url 'AGONy_logout' %}">Logout</a>

    {% else %}

        <a class="bg-warning" href="{% url 'AGONy_login' %}">Login</a>

    {% endif %}

</div>
<div class="container" style="color: darkred" align="center">

    {%  if user.is_authenticated %}
        <p>Logged in as: {{ user.username }}</p>
    {% endif %}

    <p> {{ message }} </p>

    <!-- <div>Truth will set you free!</div> -->
    <div class="btn btn-outline-primary" id="Reveal_button"
         title="Truth will set you free!" onclick="changeBackground()">Reveal the Truth!</div>

    <style>
        body {
        background-image: url('{% static "dungeon_entrance_2.jpg" %}'); background-position: center ; background-repeat: no-repeat; background-size: 1200px 900px
        }
    </style>

    {% block content %}

        <h1 id="text-input">AGONy</h1>

        <h2>(Absurd Generator Of Nonsense Journey)</h2>

<!--
        <div id="text-input" contenteditable="true" onblur="this.focus()" autofocus>AGONy, but editable?</div>
-->
    {% endblock %}

</div>

<script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.js' %}"></script>
{#<script type="module" src="{% static 'js/04_eyes.js' %}"></script>#}
<script src="{% static 'js/js_main.js' %}"></script>

<!-- Z "jedzonko.app" -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<!-- -->

</body>
</html>