{% extends 'agony_base.html' %}
{% block content %}

                  <!-- SLIDER -->
    <section class="padding-large bg-light" id="eventSlider">
        <div id="carouselExampleControls" class="carousel slide main-slider" data-ride="carousel">
            <div class="carousel-inner container">
                {% for event in object_list %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="container w-75 d-flex">
                            <div class="carousel-caption d-block">

                                <h6>{{ forloop.counter }}</h6>
                                <h1><a href="{% url 'AGONy_detail_event' event.id %}">{{ event.name }}</a></h1>
                                <h3>{{ event.event_description }}</h3>
                                <h5><img src="{{ image.event_image.url }}" alt="Error!, but mambo_no6 - this should be an image!"></h5>

{#                                <h5>event's HP: {{ event.hp }}</h5>#}
{#                                <h5>event's attack: {{ event.attack }}</h5>#}
{#                                <h5>event's defence: {{ event.defence }}</h5>#}
                                <!-- <h5>event's level: {{ event.event_level }}</h5> needs fixing the display! -->
                                <!-- <h5>event's type: {{ event.event_type }}</h5> -->
{#                                <h5>event's carried gold: {{ event.events_gold }}</h5>#}

                                {% if user.is_authenticated %} <!-- user.is_superuser -->
                                    <h6><a href="{% url 'AGONy_update_event' event.id %}">Update</a></h6>
                                    <h6><a href="{% url 'AGONy_create_event_image_AI' event.id %}">Create AI Image</a></h6>
                                    <h6><a href="{% url 'AGONy_create_event_description' event.id %}">Create AI Description</a></h6>
                                {% endif %} <!-- user.is_superuser -->

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!-- SLIDER -->

    <table class="table">
        <tr>
            <th>#</th>
            <th>Event name</th>
            <th>Event description</th>
            <th>Type</th>

            <th></th>
        </tr>
        {% for event in object_list %}
            <tr class="{% cycle 'table-light' 'table-secondary'%}">

                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'AGONy_detail_event' event.id %}">{{ event.name }}</a></td>
                <td>{{ event.event_description }}</td>
                <td>{{ event.event_type }}</td>

                <td><a href="{% url 'AGONy_update_event' event.id %}">Update</a></td>
                <td><a href="{% url 'AGONy_create_event_image_AI' event.id %}">Create AI Image</a></td>
                <td><a href="{% url 'AGONy_create_event_description' event.id %}">Create AI Description</a></td>


            </tr>
        {% endfor %}
    </table>
{% endblock %}