{% extends 'agony_base.html' %}
{% block content %}

<div>AGONy was created by luksi02 (me, the author :D) as a fun project to increase my skills with Python and Django framework. Hope you liked it!
  <br>
  <br>
  for more informations or other my projects please visit: https://github.com/luksi02
  <br>
  <br>
  if you have any idea how to improve my game/project, or just happened to enjoy it and have had some fun, be sure to leave comment!
</div>

<p><a class="btn btn-outline-primary" href="{% url 'AGONy_index' %}">Leave comment</a></p>
  
{% endblock %}
