{% extends 'agony_base.html' %}
{% block content %}

    <div>
        {{ context }}

    </div>
    <table class="table">
        <tr>
            <th>Hero's name</th>
            <th>HP</th>
            <th>Attack</th>
            <th>Defence</th>
            <th>Gold</th>
        </tr>
        <tr>
            <td>{{ journey.hero.name }}</td>
            <td>{{ journey.hero.hp }}</td>
            <td>{{ journey.hero.attack }}</td>
            <td>{{ journey.hero.defence }}</td>
            <td>{{ journey.hero.gold }}</td>
        </tr>
    </table>

    <hr>

    <table class="table">

    {% for currentEvent in journey.event.all %}

            <tr>
                <td>{{ currentEvent.event_name }}</td>

                {% if currentEvent.event_type is 0 %}
                    <td><a class='btn btn-danger' href="{% url 'AGONy_create_game_for_hero' journey.hero.id %}">Fight with Monster!</a></td>
                    <td><a class='btn btn-danger' href="{% url 'AGONy_index' %}">Oh shit, run away!</a></td>
                {% endif %}

            </tr>

        {% endfor %}


    </table>




{% endblock %}
