{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'my_nav_bar.css' %}" rel="stylesheet">
</head>
<body>

<div class="topnav">
    <a class="bg-primary" href="{% url 'create_user' %}"> Nowy Użytkownik</a>


    <a class="bg-primary" href="{% url 'hero_list' %}">Lista Postaci</a>
    {% if user.is_superuser %}
    <a class="bg-secondary" href="{% url 'create_monster' %}">Nowy Potwór</a>
    <a class="bg-secondary" href="{% url 'monster_list' %}">Wszystkie Strachy</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a class="bg-primary" href="{% url 'create_hero' %}"> Nowa Postać</a>
        <a class="bg-primary" href="{% url 'create_game' %}">Nowa Gra</a>
        <a class="bg-primary" href="{% url 'my_hero_list' %}">Moi Bohaterowie</a>
        <a class="bg-gradient" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="bg-gradient" href="{% url 'login' %}">Login</a>
    {% endif %}


</div>
<div class="container">
    {% block content %}
        <h1>Gra RPG</h1>
    {% endblock %}

</div>
<script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.js' %}"></script>
</body>
</html>